.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f8f4a1af;
}

/**********************************
          BACKGROUND IMAGES
**********************************/
.back-sizer {
  height: 500px;

  background-image: image-set(
    "../images/puppy-1.0.jpg" 1x,
    "../images/puppy-2.0.jpg" 2x,
    "../images/puppy-3.0.jpg" 3x
  );

  background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
 
}
/*********************************
          IMAGES IN HTML
**********************************/
.srcset-test img {
  max-inline-size: 100%;
  block-size: auto;
}
